/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00041f; /* Light blue background */
    font-family: 'Poppins', sans-serif;
}

.calculator-container {
    background-color: #2b2929e2; /* Soft white/blue background */
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    width: 320px;
    padding: 20px;
    opacity: 0.9;
   

    
}

/* Display area */
.calculator-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #48464cac; /* Soft background for display */
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

#calculation, #result {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    margin: 5px 0;
    text-align: right;
    color: #ffffff; /* white for text */
}

#result {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Buttons */
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
}

button {
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    background: linear-gradient(to top, #222120a1, #000000);
    
   
}

/* Button colors */
.number {
    background-color: #000000; /* Soft blue */
    color: white;
}

.operator {
    background-color: #2c1453a7; /* Soft orange */
    color: white;
}

.equal {
    background-color: #2c1453a7; /* Green for equal sign */
    color: white;
    grid-column: span 4;
    
}
#equals{
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 0%;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    background: linear-gradient(75deg, #110622, #000000, #110622);

}

.clear {
    background-color: #ff000085; /* Red for clear button */
    color: white;
}

.function {
    background-color: #2c1453a7; /* Grey for functions */
    color: white;
}
.decimal{
    background-color: #2c1453a7; /* Grey for functions */
    color: white;
}

.backspace{
        background-color: #2c1453a7; /* Grey for functions */
        color: white;
}


button:hover {
    filter: brightness(2.5);
}
